<!-- <!DOCTYPE html>
<html>
<head>
	<title>Architect Registration Page</title>

<script type="text/javascript" src="jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="jquery/jquery-ui.js"></script>
	<script type="text/javascript" src="jquery/script.js"></script>

	<link rel="stylesheet" type="text/css" href="jquery/jquery-ui.theme.css">
	<link rel="stylesheet" type="text/css" href="jquery/jquery-ui.structure.css">
	<link rel="stylesheet" type="text/css" href="jquery/jquery-ui.css">


</head>
<body>

	<form method="post">
		<fieldset>
			<legend>Architect Registration Form</legend>
			<table>
				<tr>
					<td>Name</td>
					<td><input type="text" name="archiName"></td>
				</tr>
				<tr>
					<td>User Name</td>
					<td><input type="text" name="archiUsername"></td>
				</tr>
				<tr>
					<td> Email</td>
					<td><input type="text" name="archiEmail"></td>
				</tr>
				<tr>
					<td>Password </td>
					<td><input type="Password" name="archiPassword"></td>
				</tr>
				
				<tr>
					<td>Mobile </td>
					<td><input type="text" name="archiMobile"></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><input type="text" name="archiAddress"></td>
				</tr>
				
				

				<tr>
				<tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>
 -->

<html>
<head>

	<style>
  	 	body{
  	 		 background-color: #a58948;
  	 	}
  	 </style>
    
	 <title>Architect Register Page</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="assets/Design/css/bootstrap.min.css">
  	 <script src="assets/Design/js/bootstrap.min.js"></script>
  	
  </head>
<body>

	<pre>This is a Architect Registration page</pre>
	<div class="container">
		
		
		<div class="col-sm-4">
		    <h2> Architect Registration </h2><hr>
			<div class="form-group">
				 <form method="post">
					<label for="archiName">Name</label>
					<input type="text" name="archiName" class="form-control" required /> <br/>

					<label for="archiUsername">Username</label>
					<input type="text" name="archiUsername" class="form-control" required /> <br/>
					
					<label for="archiEmail">Email</label>
					<input type="text" name="archiEmail" class="form-control" required /> <br/>

					
					
					<label for="archiPassword">Password</label>
					<input type="password" name="archiPassword" class="form-control" required /><br/>

					<label for="archiMobile">Mobile</label>
					<input type="text" name="archiMobile" class="form-control" required /> <br/>
					
					<label for="archiAddress">Address</label>
					<input type="text" name="archiAddress" class="form-control" required /> <br/>
					
					<input type="submit" name="submit" value="Submit" />
				</form>
				</div>
		</div>
		
			
			
		</div>

      
  </body>
</html>
   
