<!DOCTYPE html>
<html>
<head>
	<title>Add Architect</title>

	
</head>
<body>

<h1>Add Architect</h1> 

	<a href="/adminhome">Back</a> |
	<a href="/logout">logout</a> 
	<br>
	<br>

<form method="post">
	<table border="0" width="300px" >
		<tr>
					<td>Name</td>
					<td><input type="text" name="archiName"></td>
				</tr>
				<tr>
					<td>User Name</td>
					<td><input type="text" name="archiUsername"></td>
				</tr>
				<tr>
					<td> Email</td>
					<td><input type="text" name="archiEmail"></td>
				</tr>
				<tr>
					<td>Password </td>
					<td><input type="Password" name="archiPassword"></td>
				</tr>
				
				<tr>
					<td>Mobile </td>
					<td><input type="text" name="archiMobile"></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><input type="text" name="archiAddress"></td>
				</tr>
				
		
		<tr>
			<td></td>
			<td></td>
			<td><input type="submit"  name="save" value="Save" /></td>
		</tr>
	</table>
</form>

</body>
</html>