<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<!-- <link rel="stylesheet" type="text/css" href="abc/style.css"> -->
</head>
<body>

<h1>Welcome To Admin Panel</h1> 

	<h2><!-- <a href="/home/profile">Profile</a>  | -->
	<a href="/adminhome/adduser">Add User</a> |
	<a href="/adminhome/userlist">User List</a> |
	<a href="/adminhome/archilist">Architecture List</a> |
	<a href="/adminhome/addarchi">Add Architect</a> |
	<a href="/adminhome/signup">Assign New Admin</a> |
	<a href="logout">logout</a>  </h2>

</body>
</html>