<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<!-- <link rel="stylesheet" type="text/css" href="abc/style.css"> -->
</head>
<body>

<h1>Welcome To Architec Panel</h1> 

	<h2><!-- <a href="/home/profile">Profile</a>  | -->
	<a href="/home/view">Upload Design</a> |
	
	<a href="/home/list">Previous Work</a> |
	<a href="logout">Logout</a>  </h2>

</body>
</html>