<!-- <!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<style>
			h1{
				color: blue;
			}
			body{
				background-image: url('/assets/form.jpg');
				//background-color: black;
				height: 500px; /* You must set a specified height */
			  background-position: center; /* Center the image */
			  background-repeat: no-repeat; /* Do not repeat the image */
			  background-size: cover;
			}
      td{
        color: white;
      }
      th{
        color:#00A7D4;
        font-size:20px;
      }
	</style>
</head>
<body>
	<center>
	   <h1>Enter Architecture Information</h1>

		<form method="post"  >
			<table>
					<tr>
							<td>Design Title</td>
							<td>:</td>
							<td><input type="text" name="d_title" /></td>
					</tr>
					<tr>
							<td>House Type</td>
							<td>:</td>
							<td><input type="text" name="h_type" /></td>
					</tr>
					<tr>
							<td>Land Size</td>
							<td>:</td>
							<td><input type="text" name="l_size" />Sq.ft</td>
					<tr>
							<td>Floor Size</td>
							<td>:</td>
							<td><input type="text" name="f_size"  />Sq.ft</td>
					</tr>


				<tr>
							<td>Number Of Floor</td>
							<td>:</td>
							<td><input type="text" name="no_floor" /></td>
					</tr>
					<tr>
							<td>Number Of Occupant</td>
							<td>:</td>
							<td><input type="text" name="no_occupant" /></td>
					<tr>
							<td>Number Of Bedroom</td>
							<td>:</td>
							<td><input type="text" name="no_bedroom"  /></td>
					</tr>
							<tr>
							<td>Number Of Washroom</td>
							<td>:</td>
							<td><input type="text" name="no_washroom"  /></td>
					</tr>

                      <tr>
							<td>Number Of Kitchen</td>
							<td>:</td>
							<td><input type="text" name="no_kitchen"  /></td>
					</tr>
          

         <tr>
							<td>Number Of Verandah</td>
							<td>:</td>
							<td><input type="text" name="no_verandah"  /></td>
					</tr>

					
					<tr>
							<td></td>
							<td></td>
							<td><input type="submit" name="submit" value="Submit" /></td>
					</tr>
			</table>


	</form>
	</center>


</body>
</html>
 -->

<html>
<head>
    
	 <title>Architecture Information Page</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="assets/Design/css/bootstrap.min.css">
  	 <script src="assets/Design/js/bootstrap.min.js"></script>
  	<!--  <style>
  	 body{
				background-image: url('/assets/OFFICEprototype_structure1.jpg');
				//background-color: black;
				height: 500px; /* You must set a specified height */
			  background-position: center; /* Center the image */
			  background-repeat: no-repeat; /* Do not repeat the image */
			  background-size: cover;
			}
		</style>
  	 -->
  </head>
<body>

	<pre>This is a Architecture Information page</pre>
	<div class="container">
		
		
		<div class="col-sm-4">
		    <h2> Architecture Information Page </h2><hr>
			<div class="form-group">
				 <form method="post">
					<label for="d_title">Design Title</label>
					<input type="text" name="d_title" class="form-control" required /> <br/>

					<label for="h_type">House Type</label>
					<input type="text" name="h_type" class="form-control" required /> <br/>
					
					<label for="l_size">Land Size</label>
					<input type="text" name="l_size" class="form-control" required /> <br/>

					<label for="f_size">Floor Size</label>
					<input type="text" name="f_size" class="form-control" required /> <br/>

                    <label for="no_floor">Number Of Floor</label>
					<input type="text" name="no_floor" class="form-control" required /> <br/>
					
					<label for="no_occupant">Number Of Occupant</label>
					<input type="text" name="no_occupant" class="form-control" required /> <br/>

					<label for="no_bedroom">Number of Bedroom</label>
					<input type="text" name="no_bedroom" class="form-control" required /> <br/>

					<label for="no_washroom">Number Of Washroom</label>
					<input type="text" name="no_washroom" class="form-control" required /> <br/>

                    <label for="no_kitchen">Number Of Kitchen</label>
					<input type="text" name="no_kitchen" class="form-control" required /> <br/>
					
					<label for="no_verandah">Number Of Verandah</label>
					<input type="text" name="no_verandah" class="form-control" required /> <br/>

					<label for="no_verandah">Architect Name</label>
					<input type="text" name="archiName" class="form-control" required /> <br/>
					
					<label for="no_verandah">Architect Email</label>
					<input type="text" name="archiEmail" class="form-control" required /> <br/>
					
					<input type="submit" name="submit" value="Submit" />
				</form>
				</div>
		</div>
		
			
			
		</div>

      
  </body>
</html>
   

