<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<!-- <link rel="stylesheet" type="text/css" href="abc/style.css"> -->

	

	<style>
	body{
		background-image: url('/assets/background.jpg');
		background-repeat: no-repeat;
    	background-size: 100%;
	}
	#menu{
	    width: 70%;
	    height: 100%;
	    //background-color: antiquewhite;
	    /*float: center;
	    text-align: center;*/
	}
	#menu>ul{
	    list-style: none;
	    padding-right: 20px;
	    padding-top: 20px;
	}
	#menu>ul>li{
	    display: inline-block;
	    //background-color: aqua;
	    margin-left: 20px;
	}
	#menu>ul>li>a{
	    text-decoration: none;
	    color: black;
	}
  a:hover {
    background-color: #7b7b7b;
    border:1px solid black;
    font-size:25px;
    display:block;
}
</style>
</head>
<body>
	<div id="menu">
		<ul>

<h1 align="center"><font size="8px">Welcome To User Panel</h1> </font>

	<!-- <h2 align="center"><a href="/home/profile">Profile</a>  | -->
	<!-- <a href="/home/view">View Design</a> |
	<a href="/home/work"> Recent Work</a> | -->
<h1 align="center"><font size="6px"><li><a href="/user_ohome" style="color:purple">View Architecture List</a></li> <br><li><a href="logout" style="color:purple">Logout</a> </li> </h1></font>


</ul>
</div>

</body>
</html>